.eb-garamond {
    font-family: "EB Garamond", serif;
}

.bg-sidebar {
    background-color: #f3f4f6;
}

.bg-menu{
    background-color: #cecfd193;
}

.bg-darkmode {
    background-color: #343a40;
}

.color-text{
    color: #4A4A4A;
}

.bg-text:hover{
    background-color: #FFFF0080;
}

.bg-darkmode-primary{
    background-color: #242629;
}

.bg-darkmode-secondary{
    background-color: #26282e;
}